{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>New BNB</title>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
 
<style type="text/css">
	form {
  transform: translate(-50%, -30%);
}
</style>

</head>

<body>

<header>

<nav>
  <ul>
    <li><a href="{% url 'home' %}" title="Let's Go Back Home :)">Home</a></li>
    <li><a href="{% url 'posts-home' %}" title="Find out about the hottest and coolest places on Earth !!">Posts</a></li>
    <li><a href="{% url 'bnb-home' %}" title="Bed & Breakfast !!">BNB</a></li>
    <li><a href="{% url 'about' %}" title="Know More About Us">About Us</a></li>
    
    {% if user.is_authenticated %}
    	<li><a href="{% url 'profile' %}" title="Profile">Profile</a></li>
    	<li><a href="{% url 'logout' %}" title="Logout">Logout</a></li>
    {% else %}
    	<li><a href="{% url 'signup' %}" title="Sign Up">Sign Up</a></li>
    	<li><a href="{% url 'login' %}" title="Login">Login</a></li>
    {% endif %}

  </ul>
</nav>

<table border="0">
	
		<tr>
			
			<td>
				<div style="font-size: 40px;color: white;">
				<a href="{% url 'home' %}" style="color: white;">
				TravelLife
				</a>
				</div>
			</td>
			
			<td>
				<a href="{% url 'home' %}">
				<img src="{% static "blog/logo.png" %}" alt="Logo">
				</a>
			</td>
		</tr>
</table>

{% if messages %}
	{% for message in messages%}
	<br>
	<br>
		<div class="alert {{ message.tags }}">
			<span class="closebtn">&times;</span>  
			{{ message }}
		</div>
	{% endfor %}
{% endif %}

</header>

<form method="POST" enctype="multipart/form-data">

	{% csrf_token %}
  	<div class="inputGroup inputGroup1">

	{{ form.as_p }}

	</div>

	<div class="inputGroup inputGroup3">
		<button type="submit">Post</button>
	</div>	

</form>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>

</body>
</html>
